<ion-header>
  <ion-toolbar>
    <ion-title>Admin Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-button (click)="toggleBulkEdit()" expand="full">Bulk Edit</ion-button>
  <ion-button (click)="bulkDelete()" expand="full" color="danger" *ngIf="bulkEdit">Bulk Delete</ion-button> -->

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Zone</th>
        <th scope="col">Room No</th>
        <th scope="col">Gender</th>
        <th scope="col">Humidity</th>
        <th scope="col">Air Quality</th>
        <th scope="col">Temperature</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of inputClimateNumbers">
        <td>{{ item.zoneNo }}</td>
        <td>{{ item.roomNo }}</td>
        <td>{{ item.gender }}</td>
        <td>{{ item.humidity }}</td>
        <td>{{ item.airQuality }}</td>
        <td>{{ item.temperature }}</td>
        <td style="display: flex">
          <!-- <ion-button color="warning" size="small" routerLink='/student-edit/{{item.id}}'>
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button color="danger" size="small" (click)="delete(item)">
            <ion-icon name="trash"></ion-icon>
          </ion-button> -->

          <ion-button size="small" (click)="removeRow(item)" color="dark" fill="clear">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>
    
          <ion-button size="small" (click)="editRow(item)" color="dark" fill="clear">
            <ion-icon name="create-outline" slot="icon-only"></ion-icon>
          </ion-button>
          
        </td>
      </tr>
    </tbody>
  </table>

<form [formGroup]="validationForm">

  <ion-item-divider>
    <ion-label>Indoor Climate Input Information Form</ion-label>
  </ion-item-divider>

  <!-- room no input element with validation -->
  <ion-item>
    <ion-label>Room Number</ion-label>
    <ion-input formControlName="roomNo" type="text">
    </ion-input>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation
              of validationMessages.roomNo">
      <div class="error-message" *ngIf="validationForm.get('roomNo')
           .hasError(validation.type) 
           && (validationForm.get('roomNo').dirty 
           || validationForm.get('roomNo').touched)">
        <ion-icon name="flash"></ion-icon>
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <!-- zone number input element with validation -->
  <ion-item>
    <ion-label>ZoneNo</ion-label>
    <ion-input formControlName="zoneNo" type="number">
    </ion-input>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation
              of validationMessages.zoneNo">
      <div class="error-message" *ngIf="validationForm.get('zoneNo')
           .hasError(validation.type) 
           && (validationForm.get('zoneNo').dirty 
           || validationForm.get('zoneNo').touched)">
        <ion-icon name="flash"></ion-icon>
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <!-- gender input element with validation -->
  <ion-item>
    <ion-label>Gender</ion-label>
    <ion-input formControlName="gender" type="text">
    </ion-input>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation
              of validationMessages.gender">
      <div class="error-message" *ngIf="validationForm.get('gender')
           .hasError(validation.type) 
           && (validationForm.get('gender').dirty 
           || validationForm.get('gender').touched)">
        <ion-icon name="flash"></ion-icon>
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <!-- humidity input element with validation -->
  <ion-item>
    <ion-label>Humidity</ion-label>
    <ion-input formControlName="humidity" type="number">
    </ion-input>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation
              of validationMessages.humidity">
      <div class="error-message" *ngIf="validationForm.get('humidity')
           .hasError(validation.type) 
           && (validationForm.get('humidity').dirty 
           || validationForm.get('humidity').touched)">
        <ion-icon name="flash"></ion-icon>
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <!-- AirQuality input element with validation -->
  <ion-item>
    <ion-label>AirQuality</ion-label>
    <ion-input formControlName="airQuality" type="number">
    </ion-input>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation
              of validationMessages.airQuality">
      <div class="error-message" *ngIf="validationForm.get('airQuality')
           .hasError(validation.type) 
           && (validationForm.get('airQuality').dirty 
           || validationForm.get('airQuality').touched)">
        <ion-icon name="flash"></ion-icon>
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <!-- Temperature input element with validation -->
  <ion-item>
    <ion-label>Temperature</ion-label>
    <ion-input formControlName="temperature" type="number">
    </ion-input>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation
              of validationMessages.temperature">
      <div class="error-message" *ngIf="validationForm.get('temperature')
           .hasError(validation.type) 
           && (validationForm.get('temperature').dirty 
           || validationForm.get('temperature').touched)">
        <ion-icon name="flash"></ion-icon>
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

</form>

</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" type="submit" [disabled]="!validationForm.valid" *ngIf="!editClicked" (click)="send(validationForm.value)">
    Submit
  </ion-button>

  <ion-button expand="block" type="submit" [disabled]="!validationForm.valid" *ngIf="editClicked" (click)="edit(validationForm.value)">
    Submit Edit
  </ion-button>

</ion-footer>