
.header-content-wrapper {
    flex-direction: column;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;

color: #F72585;

}

.main-content-wrapper {
    margin: 120px 0
}

@media screen and (min-width: 480px) {
    .item-wrapper {
        width: 30%;
        margin: auto;
    }
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.custom-btn {
    margin: 30px 0;
    --background: linear-gradient(180deg, #480CA8 0%, #AA02E4 100%);
    --border-radius: 50px;
    --background-activated:  linear-gradient(180deg, #390987 0%, #8100ac 100%);
    --border-color: #fff;
    --color: #fff;
  }

 