<ion-header>
    <ion-toolbar>
        <ion-title>Climate controller</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Temperature</ion-card-subtitle>
          <ion-card-title>How to Slide</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          You can slide the temperature slider from min 1 to max 6 and adjust the number according to your needs. It starts from cold (1) to warm (6)
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Air Quality</ion-card-subtitle>
          <ion-card-title>How to Slide</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          You can slide the air quality slider from min 1 to max 6 and adjust the number according to your needs. It starts from fresh (1) to stuffy (6)
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Humidity</ion-card-subtitle>
          <ion-card-title>How to Slide</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          You can slide the humidity slider from min 1 to max 6 and adjust the number according to your needs. It starts from dry (1) to damp (6)
        </ion-card-content>
      </ion-card>
</ion-content>