#container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.mental-shower-logo-wrapper {
  margin-top: 200px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;


  margin: 0;
}


.content-wrapper {
  --background: linear-gradient(180deg, #480CA8 0%, #AA02E4 100%);  
}

.custom-btn {
  --background: #9903DA;
  --border-radius: 50px;
  --background-activated: #7a06ac;
  --border-color: #fff;
  --color: #fff;
}

.button-wrapper {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 130px;
}

.ion-content-wrapper {
  text-align: center;
  margin-bottom: 152px;
}

.ion-content-wrapper h1 {
  margin-top: 72px;
  margin-bottom: 38px;
  font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 41px;

color: #fff;
}

.ion-content-wrapper p {
  width: 314px;
height: 44px;



font-style: normal;
font-weight: 100;
font-size: 18px;
line-height: 24px;
/* or 122% */

text-align: center;

color: #FFFFFF;
}